@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Pacifico&display=swap');

/* This is CSS COMMENT */

/* Select by element TYPE */
body{
    font-family: "Noto Serif", serif;
    background-color: beige
}
p{
    color: rgb(14, 183, 22);
}
h1,h2,h3 {

    font-family: "Pacifico", cursive;
}

/* Select by CLASS name */
.border {
border: 2px solid black(198, 141, 141); 
background-color: pink
}

.border{
border: 2px solid pink
}

/* Select by ID name */
#intro {
background-color: blue
}


h4 {
font-family : serif ;
}

/*Properties: colors and typography */ 
strong {
color: rgb(53, 32, 213))

font-family: impact;
font-weight: 1020;
font-style: italic;

}

h1{
    text-align: center;
}

/* Box Model: margin, border, paddin, content */
img {
    border-width: 10px;
    border-style: double;
    border-color: blue;
    border-radius: 20px;
}
hr{

    border-width: 5px;
    border-style; dotted;
    border-color: green;
}